[user]
	name = Thomas Bytheway
	email = tb403@cam.ac.uk
[merge]
	conflictstyle = diff3
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	st = status -sb
	check-track = checkout
